.boothcaptionbg,
.boothdetailbg,
.boothdetailbg .figure {
    width: 100%;
    overflow: hidden
}

.formbg select,
.formbg select option:hover {
    background: #f67926
}

.boothsizebg .boothbg .caption,
.featuresbg .featuretitle {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif
}

.boothdetailbg {
    display: block;
    margin: 0;
    padding: 30px 0
}

.boothdetailbg .figurebg {
    display: block;
    position: relative
}

.boothdetailbg .figure {
    border-radius: 7px
}
.btnbg button[type=submit] {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    border: none;
    margin: 1rem 0;
    padding: 15px 20px;
    line-height: 1;
    background: #34343c;
}
.boothdetailbg .figure img {
    width: 100%;
    height: auto;
    border-radius: 7px
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 0
}

.owl-nav [class*=owl-] {
    width: 40px !important;
    height: 45px !important;
    line-height: 1 !important;
    color: #fff !important;
    background: #ff7416 !important;
    border-radius: 3px !important;
    font-size: 2rem;
    display: inline-block;
    padding-bottom: 40px !important
}

.owl-nav .owl-next {
    float: right
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
    font-size: 2rem !important
}

.boothcaptionbg {
    display: block;
    box-sizing: border-box
}

.boothcaptionbg p {
    display: block;
    font-size: .8rem
}

.rboothtitle {
    display: block;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-top: .5rem;
    color: #ff7416;
    font-weight: 400;
    text-align: center
}

.rboothtitle span {
    color: #000
}

.formbg input[type=submit],
.formbg select {
    display: block;
    line-height: 52px;
    color: #fff;
    padding: 0 15px;
    box-sizing: border-box;
    width: 100%
}

.formbg {
    display: block;
    width: 100%;
    position: relative
}

.formbg::after {
    content: '';
    display: block;
    clear: both
}

.formbg .formtitle {
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    color: #000;
    font-weight: 500
}

.pricbg,
.pricbg::before {
    line-height: 38px;
    color: #0b2841
}

.formbg select {
    font-size: 1rem;
    font-weight: 500;
    height: 52px;
    border-radius: 5px;
    margin: 0 0 .5rem;
    border: 1px solid #f67926
}

.formbg select option {
    color: #414141;
    background: #fff;
    font-size: 1rem
}

.formbg input[type=submit] {
    margin: 10px 0;
    font-size: 20px;
    border-radius: 7px;
    border: none;
    text-shadow: none;
    background: #e86221
}

.borderclear {
    width: 100%;
    height: 1px;
    background: #efefef
}

.boothcaptionbg input[type=radio] {
    position: Absolute;
    left: -9999px;
    margin: 0
}

.boothcaptionbg label {
    font-size: 1.1rem;
    padding: 12px 0 24px;
    line-height: 1;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 30px 0 0;
    font-weight: 600;
    color: #999;
    cursor: pointer
}

.btnbg input[type=submit],
.nvdat a {
    padding: 15px 20px;
    line-height: 1;
    background: #34343c
}

.boothcaptionbg input[type=radio]:checked+label {
    border-bottom: 3px solid #e86221;
    color: #000
}

.tab-1-content,
.tab-2-content {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 5px;
    display: none
}

.boothsizebg .boothbg,
.boothsizebg .boothbg .figure,
.featuresbg,
.rentalbg {
    padding: 0;
    overflow: hidden;
    width: 100%
}

.boothcaptionbg input[type=radio]:checked+.tab-1~.tab-1-content,
.boothcaptionbg input[type=radio]:checked+.tab-2~.tab-2-content,
.btnbg,
.featuresbg,
.nvdat,
.nvdat a {
    display: block
}

.pricbg {
    width: 100%;
    margin: 0 0 .5rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: right;
    display: none
}

.pricbg::before {
    content: 'Price : $';
    position: static;
    font-size: 1.1rem;
    margin-right: 4px;
    font-weight: 600
}

.featuresbg .featuretitle,
.rentalbg .rentaltitle {
    line-height: 1.2;
    color: #ff7416;
    font-weight: 600;
    font-size: 1.2rem
}

.nvdat {
    width: 100%;
    text-align: center
}

.nvdat a {
    font-size: 1rem;
    color: #fff;
    border-radius: 6px
}

.featuresbg .featuretitle,
.rentalbg .rentaltitle {
    display: block;
    margin-bottom: 1rem
}

.featuresbg ul {
    width: 100%;
    display: inline-block;
    align-items: center;
    margin: 0 -15px
}

.featuresbg ul li,
.rentalbg ul {
    margin-bottom: 1rem
}

.featuresbg ul li {
    display: flex;
    width: 100%;
    padding: 0 15px;
    font-size: .85rem;
    line-height: 1;
    color: #414141;
    float: left;
    position: relative
}

.featuresbg ul li::before {
    content: '';
    position: static;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
    margin-top: 4px;
    background: #e86221
}

.rentalbg {
    display: block;
    margin: 0 0 1.5rem
}

.boothsizebg,
.seocontentbg {
    padding: 60px 0;
    overflow: hidden
}

.rentalbg ul li {
    display: block;
    padding-left: 30px;
    color: #414141;
    position: relative;
    font-size: .95rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    text-align: justify
}

.rentalbg ul li::before {
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: 0 0;
    top: 5px;
    left: 0;
    border: 2px solid #ff7416;
    border-radius: 50%;
    content: ""
}

.rentalbg p {
    display: block;
    font-size: 1rem;
    line-height: 1.6;
    color: #414141
}

.boothsizebg {
    display: block;
    width: 100%;
    margin: 0
}

.boothsizebg [class*=col-] {
    margin: 1rem 0
}

.boothsizebg .boothbg {
    display: block;
    margin: 0;
    box-shadow: 0 5px 30px 0 rgb(38 42 76 / 9%)
}

.boothsizebg .boothbg .figure {
    margin: 0;
    border-radius: 6px 6px 0 0;
    position: relative
}

.boothsizebg .boothbg .figure img {
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0
}

.boothsizebg .boothbg .caption {
    display: block;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px;
    box-shadow: 0 5px 30px 0 rgb(38 42 76 / 9%);
    background: #fff;
}

.boothsizebg .boothbg .caption .title {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    line-height: 1;
    margin-bottom: 1rem;
    text-align: center
}

.boothsizebg .boothbg .caption .title span {
    color: #f36f15
}

.boothsizebg .boothbg .caption .btnprimary,
.boothsizebg .boothbg .caption .btnsecondary {
    margin: .5rem 0
}

.boothsizebg .boothbg .caption .btnprimary a,
.boothsizebg .boothbg .caption .btnsecondary a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px 20px;
    background: #34343c;
    border-radius: 6px;
    line-height: 1;
}

.boothsizebg .boothbg .caption .btnprimary a:hover,
.boothsizebg .boothbg .caption .btnsecondary a:hover,
.btnbg .btnprimary a:hover,
.btnbg .btnsecondary a:hover {
    background: #000;
    color: #fff
}

.boothsizebg .boothbg .caption .btnsecondary {
    margin: .5rem 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}


.boothsizebg .widthsmall {
    margin-bottom: 3rem
}

.seocontentbg {
    width: 100;
    margin: 0
}

.btnbg .btnsecondary {
	display: block;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 5px;
    margin-top: .5rem;
}
.btnsecondary a {
    padding: 10px 20px;
    background: #34343c;
    border-radius: 6px;
    color: #fff;
}
.btnbg .btnprimary,
.btnbg .btnprimary a,
.btnbg .btnsecondary,
.btnbg .btnsecondary a {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 1.4rem
}

.btnbg input[type=submit] {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    border: none;
    margin: 1rem 0
}

.btnbg input[type=submit]:hover {
    background: #dd5713;
    color: #fff
}

.cleartwenty {
    clear: both;
    height: 20px;
    width: 1000%;
    display: block
}