.careerbg{
	display: block;
	width: 100%;
	text-align: center;
	padding: 120px 0;
	background: #34343C;
	position: relative;
}
.careerbg h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 1.2;
    display: block;
}
.careercontainer{
	display: block;
	padding: 60px 0;
	position: relative;
}
.careercontainer::before{
	content: '';
	clear: both;
	display: block;
}
.careerrow{
	display: flex;
	gap:2rem;
	border: 1px solid #e0e0e0;
	padding: 20px 25px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	margin:1rem 0;
}
.careerrow .figurebg{
	display: flex;
	align-items: center;
	gap: 1rem;
}
.careerrow .figure{
	max-width: 70px;
	height: 70px;
	flex: 0 0 70px;
	shrink:0;
}
.careerrow .figure img{
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.careerrow .caption{

}
.careerrow .caption h3{
	font-size: 24px;
	display: block;
    color: #414141;
    font-weight: 500;
}
.careerrow .caption .location{
	display: flex;
	align-items: center;
	gap: 15px;
}
.careerrow .caption p{
	font-size: 15px;
    line-height: 25px;
    text-align: left;
    text-transform: capitalize;
    margin-top: 3px;
    color: #8b8b8b;
}
.viewdetail{
	display: inline-block;
}
.viewdetail a {
    color: #fff;
    border: 1px solid #DF672A;
    background: #DF672A;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 17px;
}
.viewdetail a:hover{
	transition: all 0.3s ease-in-out;
	color: #DF672A;
	background: rgba(223, 103, 42, .28);
}