.careerbg{
	display: block;
	width: 100%;
	text-align: center;
	padding: 120px 0;
	background: #34343C;
	position: relative;
}
.careerbg h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 1.2;
    display: block;
}
.career-inner {
    width: 100%;
    z-index: 111;
    position: relative;
    margin: 0px;
    padding: 30px 0px 60px;
    overflow: hidden;
}
.career-inner .gray-box {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: rgb(221, 221, 221);
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 2rem;
}
.career-inner .gray-box .left {
    width: calc(100% - 200px);
    float: left;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.career-inner .postiontitle {
    display: block;
    font-size: 28px;
    line-height: 1.5;
    color: rgb(8, 23, 44);
    font-weight: 500;
    font-family: "Barlow Condensed", sans-serif;
}
.career-inner .locationnel {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    margin: 8px 0px;
}
.career-inner .locationnel::before {
    content: "ÔÅÅ";
    position: static;
    font-size: 28px;
    line-height: 1.2;
    color: #DF672A;
    margin-right: 15px;
    font-family: FontAwesome;
}
.career-inner .fulltime {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    padding: 3px 15px;
    border-width: 1px;
    border-style: dashed;
    border-color: #34343C;
    border-image: initial;
    border-radius: 3px;
    margin: 0.5rem 0px 0.5rem 16px;
    background: #34343C;
}
.career-inner .gray-box .right {
    width: 200px;
    float: left;
    text-align: right;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.career-inner .applynow {
    display: block;
    margin-top: 16px;
}
.career-inner .applynow a {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin-top: 2px;
    padding: 5px 15px;
    background: #DF672A;
    border-radius: 4px;
}
.career-inner .careerdesc {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(61, 61, 61);
    font-weight: 400;
    overflow: hidden;
    padding: 20px 0px;
}
.career-inner .careerdesc p {
    font-size: 16px;
    line-height: 30px;
    color: rgb(61, 61, 61);
    font-weight: 400;
}
.career-inner .job-title {
    display: block;
    font-size: 28px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
}
.career-inner ul {
    margin: 20px 0px;
    padding: 0px;
}
.career-inner ul li {
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: rgb(30, 30, 30);
    position: relative;
    margin: 10px 0px;
    padding: 0px 0px 0px 25px;
}
.career-inner ul li::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #DF672A;
}
.career-inner .applynow {
    display: block;
    margin-top: 16px;
}
.career-inner .applynow a {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin-top: 2px;
    padding: 5px 15px;
    background: #DF672A;
    border-radius: 4px;
}
.job-details-sec {
    padding: 60px 0px;
}