@charset "UTF-8";
*,
body,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
li,
nav,
p,
span,
strong,
ul {
    padding: 0;
    margin: 0
}

.infobg ul li a,
.rfpbg a {
    font-size: 1rem;
    color: #fff
}

.footer,
.header,
.infobg ul li a,
.infobg ul li:last-child a::before,
.navigation,
.navigationbg,
.shrtdesc {
    position: relative
}

*,
.footer .footerlogo,
::after,
::before {
    box-sizing: border-box
}

@font-face {
    font-display: swap
}

body,
html {
    font-display: optional;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    font-size: 1.15rem;
    line-height: 1.6;
    font-weight: 400;
    background: #fff
}

.navigationbg,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-roboto-condensed);
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif
}

li,
ul {
    list-style: none
}

img {
    max-width: 100%
}

a,
a:hover {
    text-decoration: none;
    color: #1553fc
}

button:focus {
    outline: 0
}

.header {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background: #34343c
}

.header::after,
.navigation::after,
.navigationbg::after,
.shrtdesc::after {
    content: "";
    display: block;
    clear: both
}

.logo {
    display: block;
    width: 180px;
    float: left;
    margin-right: 40px;
    height: 50px
}

.logo img {
    width: 100%;
    height: auto
}

.navigationbg {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    line-height: 0;
    font-weight: 600
}

.infobg,
.infobg ul li,
.infobg ul li a,
.infobg ul li:last-child a::before,
.rfpbg,
.rfpbg a {
    display: inline-block
}

.maintitle,
.shrtdesc p:not(:last-child) {
    margin-bottom: 1rem
}

.navigation {
    width: 100%;
    float: left;
    padding-top: 0;
    text-align: center
}

.infobg {
    float: right;
    font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    font-weight: 400
}

.callnowbg,
.footertitle,
.maintitle {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif
}

.infobg ul li {
    float: left;
    margin-right: 20px
}

.infobg ul li a {
    line-height: 50px
}

.infobg ul li:first-child a::before {
    display: inline-block;
    content: "";
    position: relative;
    width: 36px;
    height: 17px;
    top: 3px;
    left: 0;
    background: url(/images/mailicon.webp) no-repeat;
    margin-right: 7px
}

.infobg ul li:last-child a::before {
    content: "";
    width: 20px;
    height: 20px;
    top: 3px;
    left: 0;
    background: url(/images/phoneicon.webp) no-repeat;
    margin-right: 7px
}

.rfpbg {
    max-width: 50px;
    float: right
}

.rfpbg a {
    background: #e87722;
    border-radius: .1rem;
    padding: .5rem .85rem;
    line-height: 1;
    margin-top: 7px
}

.maintitle {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    color: #414141;
    font-weight: 700;
    text-transform: uppercase
}

.footertitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    display: block
}

.shrtdesc {
    display: block;
    width: 100%
}

.shrtdesc p {
    display: block;
    font-size: 1rem;
    line-height: 1.8;
    color: #3d3d3d
}

.btnprimary a {
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.widthsmall {
    width: 867px;
    max-width: 100%;
    margin: 0 auto
}

.btnprimary {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 5px
}

.btnprimary a {
    padding: 18px 40px;
    background: #e86221;
    border-radius: 40px
}

.btnprimary a:hover {
    background: #0b2a44
}

.footer {
    width: 100%;
    margin: 0;
    padding: 50px 0 10px;
    overflow: hidden;
    background: #34343c
}

.footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .92)
}

.footer .container {
    position: relative;
    z-index: 1
}

.footer .footerlogo {
    width: 100%;
    padding: 0;
    overflow: hidden
}

.footer .figure img,
.footer .footerlogo img,
.footerbottom .footerlogo img {
    width: auto;
    max-width: 100%
}

.footer .innerfooter {
    width: 100%;
    margin: 15px 0 2rem;
    padding: 40px 30px;
    overflow: hidden;
    border-radius: 8px;
    background: rgb(255 255 255 / .1)
}

.footer .figure,
.footerbottom .socialfoote ul li a:hover {
    background: #fff
}

.footertitle {
    line-height: 28px;
    margin-bottom: 25px;
    color: #df672a;
    font-weight: 400
}

.fmenu,
.footerbottom {
    margin: 0;
    width: 100%;
    overflow: hidden
}

.fmenu {
    padding: 0
}

.fmenu ul li {
    display: block;
    margin-bottom: 12px
}

.fmenu ul li a {
    display: block;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 12px;
    border-bottom: 1px solid;
    color: rgb(255 255 255 / 95%);
    transition: .3s ease-in-out
}

.fmenu ul li a:hover {
    color: #fff;
    border-bottom: 1px solid #fff
}

.footer .figure {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin-top: 15px
}

.footerbottom {
    padding: 30px 0
}

.footerbottom .footerlogo {
    width: 100%;
    padding: 20px 20px 20px 0;
    overflow: hidden;
    border-right: 1px solid #505050;
    box-sizing: border-box
}

.callnowbg {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    padding-left: 60px;
    float: right
}

.callnowbg span {
    color: #df672a;
    font-size: 18px
}

.callnowbg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 49px;
    background-size: cover
}

.footerbottom .copyright {
    display: block;
    text-align: right;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #fff
}

.footerbottom .copyright::before {
    content: "";
    display: table;
    clear: both
}

.footerbottom .socialfoote {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0)
}

.footerbottom .socialfoote ul li {
    display: inline-block;
    float: left;
    margin-right: 15px
}

.footerbottom .socialfoote ul li:last-child {
    margin-right: 0
}

.footerbottom .socialfoote ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #df672a;
    text-align: center;
    transition: .3s ease-in-out;
    border-radius: 50%
}

.footerbottom .socialfoote ul li a img {
    vertical-align: top
}

.footerbottom .socialfoote ul li a:hover img {
    filter: sepia(1) brightness(0)
}

@media screen and (max-width:991px) {
    .infobg,
    .navigation {
        width: 100%
    }
    .header .container {
        position: relative
    }
    .logo {
        margin: 0 auto;
        float: none
    }
    .navigationbg {
        background: #1c1818
    }
    .infobg {
        display: block
    }
}

@media screen and (max-width:767px) {
    .callnowbg,
    .footer .footerlogo {
        text-align: center
    }
    .callnowbg {
        display: block;
        width: 100%;
        padding-left: 0
    }
    .rfpbg {
        position: absolute;
        z-index: 9;
        top: -4px
    }
}

@media screen and (max-width:575px) {
    .infobg {
        display: none
    }
}