.bannerbg h1,
.bannerbg p {
    line-height: 1.6;
    display: block
}

.bannerbg h1,
.boothsizebg .caption .corner,
.boothsizebg .caption .title {
    color: #fff;
    text-transform: uppercase
}

.bannerbg {
    display: block;
    width: 100%;
    margin: 0;
    padding: 120px 0 100px;
    background: url('/images/footerbgnew.webp') center center/cover no-repeat;
    overflow: hidden;
    position: relative;
    text-align: center
}

.boothsizebg,
.sectiontop,
.seocontentbg {
    width: 100%;
    padding: 60px 0;
    overflow: hidden
}

.bannerbg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75)
}

.bannerbg .container {
    position: relative;
    z-index: 1
}

.bannerbg h1 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    letter-spacing: .8px
}

.bannerbg h1 span {
    display: block;
    font-size: 2.4rem;
    color: #fff
}

.bannerbg .tradelogo {
    display: block;
    width: 175px;
    height: 175px;
    margin: 0 auto 1rem;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 5px;
    padding: 6px;
    box-sizing: border-box
}

.bannerbg .tradelogo img {
    display: block;
    width: 100%;
    height: auto
}

.bannerbg .calinfo {
    display: inline-block;
    overflow: hidden
}

.bannerbg .calinfo .place {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    position: relative;
    padding: 0 30px;
    float: left
}

.bannerbg .calinfo .place::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 23px;
    top: 0;
    left: 0;
    background: url('/images/map-icon.png') no-repeat
}

.bannerbg .calinfo .datbg {
    display: inline-block;
    float: left;
    font-size: 1.2rem;
    line-height: 23px;
    font-weight: 500;
    color: #fff;
    position: relative;
    padding: 0 0 0 30px
}

.bannerbg .calinfo .datbg::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 23px;
    top: 0;
    left: 0;
    background: url('/images/calendar-icon.png') no-repeat
}

.bannerbg p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem
}

.sectiontop {
    display: block;
    margin: 0
}

.seocontentbg {
    margin: 0
}

.seocontentbg ol li,
.seocontentbg ul li {
    display: block;
    padding-left: 30px;
    color: #414141;
    position: relative;
    font-size: .95rem;
    line-height: 1.5;
    margin-bottom: .5rem;
    text-align: justify
}

.seocontentbg ol li::after,
.seocontentbg ul li::after {
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    background: 0 0;
    top: 5px;
    left: 0;
    border: 2px solid #ff7416;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    content: "";
    transform: rotate(145deg)
}

.seocontentbg h2 {
    margin-top: 2rem
}

.counter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem
}

.counter-wrapper .counter-box {
    width: 100px;
    height: 100px;
    font-size: 2.125rem;
    color: #fff;
    background: rgb(255 255 255 / 9%);
    border: 2px solid #ff7416;
    display: grid;
    font-weight: 600;
    place-items: center;
    border-radius: 5px
}

.counter-wrapper .counter-inner {
    margin-right: 30px
}

.counter-wrapper .counter-inner:last-of-type {
    margin-right: 0
}

.counter-wrapper .counter-inner p {
    color: #fff;
    font-size: 17px;
    line-height: 22px;
    margin: 7px 0
}

.boothsizebg {
    display: block;
    margin: 0;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    background: url('/images/bg3.webp') center center/cover no-repeat #333851
}

.boothsizebg .maintitle,
.boothsizebg .shrtdesc p {
    color: #fff
}

.boothsizebg [class*=col-] {
    margin: 1rem 0
}

.boothsizebg .boothbg,
.boothsizebg .boothbg .figure {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: block
}

.boothsizebg .boothbg .figure {
    border-radius: 6px 6px 0 0;
    position: relative
}

.boothsizebg .boothbg .figure img {
    width: 100%;
    height: auto;
    border-radius: 6px
}

.boothsizebg .widthsmall {
    margin-bottom: 3rem
}

.overlaybooth {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ddd;
    border-bottom: none;
    box-sizing: border-box;
    background: linear-gradient(to top, #000, rgb(0 0 0 / 30%), #fff0, #fff0);
    border-radius: 6px 6px 0 0
}

.boothsizebg .caption {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    transform: translate(0, 0);
    text-align: center;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    background: #df672a;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif
}

.boothsizebg .caption .title {
    display: block;
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: .5rem;
    font-weight: 700
}

.boothsizebg .caption .corner {
    display: block;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500
}

.boothsizebg .boothbg a:hover .overlaybooth {
    background: #fff0;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: background .3s ease-in-out
}

@media screen and (max-width:767px) {
    .bannerbg {
        padding: 80px 0 60px
    }
    .bannerbg h1 {
        line-height: 1.2
    }
    .bannerbg .calinfo {
        display: block;
        text-align: center
    }
    .bannerbg .calinfo .datbg,
    .bannerbg .calinfo .place {
        float: none
    }
}

@media screen and (max-width:575px) {
    .bannerbg .calinfo .datbg,
    .bannerbg .calinfo .place {
        font-size: 1rem
    }
    .counter-wrapper {
        column-gap: 20px
    }
    .counter-wrapper .counter-inner {
        margin-right: 0
    }
}